* {
    box-sizing: border-box;
    margin:0;
    
}

/*Här är css:n för layouten på alla sidor*/
.wrapper_startsida {
    display: grid;
    grid-template-areas: 
    'na na na'
    'he he he'
    'a1 a1 se'
    'a2 a2 se'
    'fo fo fo'
    ;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 70px 140px 1fr 1fr 255px;
}

.wrapper_meny {
    display: grid;
    grid-template-areas: 
    'na na na'
    'he he he'
    'a3 a4 a6'
    'a5 a7 a8'
    'fo fo fo'
    ;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 70px 110px auto auto 170px;
    line-height: 1.3;
    position: relative;
}

.wrapper_kontakt {
    display: grid;
    grid-template-areas: 
    'na na'
    'he he'
    'a9 s1'
    'fo fo'
    ;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70px 110px 1fr 170px;
}


/*Samma (använder) css för alla sidor*/
header{
    display: flex;
    grid-area: he;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-family: Garamond;
    font-size: 30px;
}

nav {
    display: flex;
    grid-area: na;
    background-color: rgb(7, 19, 1);
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    position: relative;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: rgb(186, 190, 186);
    text-decoration: none;
}

#logga {
    width: 85px;
    position: absolute;
    top: 8px;
    left: 15px;
    border-radius: 4px;
}

footer {
    grid-area: fo;
    background-color: rgb(14, 120, 0);
    color: white;
    padding: 10px;
}

footer a {
color: white;
text-decoration: none;
}

footer a:hover {
    color: rgb(182, 177, 177);
    text-decoration: none;
}

.visit_img {
    width: 30px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 2px;
    margin-top: 2px;
}

article {
    margin-left: 10px;
}

section {
    margin-left: 10px;
}

.icons_line {
    display: flex;
    align-items: center;
}


/*Här är startsidans css*/
.welcome {
    grid-area: a1;
}

.recention {
    grid-area: a2;
}

.recention_bilder {
    width: 70px;
    margin-top: 15px;
}

.stor_broccoli {
    grid-area: se;
    padding-left: 100px;
    padding-top: 40px;
    background-color: white;
}

#stor_broocoli_img {
    width: 380px;
    height: auto;
}



/*Här är menyns css*/

.fast {
    display: flex;
    position: sticky;
    top: 70px;
}

.forratter {
    grid-area: a3;
}

.varmratter {
    grid-area: a4;
}

.side_orders {
    grid-area: a5;
}

.efterratter {
    grid-area: a6;
}

.dricka1 {
    grid-area: a7;
}

.dricka2 {
    grid-area: a8;
}


/*Här är kontaktsidans css*/

#kockens_presentation {
    grid-area: s1;
}

#karta {
    width: 400px;
}

.kontakt_ikon {
    width: 25px;
}

#kontakt {
    grid-area: a9;
}

#kontaktbild {
    height: 400px;
    width: auto;
}

