* {
    box-sizing: border-box;
    margin: 0;
}

/*Här är css:n för layouten på alla sidor*/

.wrapper_startsida {
    display: grid;
    grid-template-areas: 
    'na na na' 
    'h1 h1 h1'
    'he he he' 
    'a1 a1 se' 
    'a2 a2 se' 
    'fo fo fo'
    ;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 70px 100vh 12vh 1fr 1fr auto;
}

.wrapper_meny {
    display: grid;
    grid-template-areas: 
    'na na na' 
    'he he he' 
    'a3 a4 a6' 
    'a5 a7 a8' 
    'fo fo fo'
    ;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 70px 110px auto auto auto;
    line-height: 1.3;
    position: relative;
}

.wrapper_kontakt {
    display: grid;
    grid-template-areas: 
    'na na' 
    'he he' 
    'a9 s1' 
    'fo fo'
    ;
    grid-template-columns: 60% 40%;
    grid-template-rows: 70px 110px 1fr auto;
}


/*Samma (använder) css för alla sidor*/

.header {
    display: flex;
    grid-area: he;
    align-items: center;
    justify-content: center;
    font-family: Garamond;
    font-size: 30px;
}

nav {
    display: flex;
    grid-area: na;
    background-color: rgb(7, 19, 1);
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    position: relative;
    position: sticky;
    top: 0;
}

#nav_korrekt {
    position: absolute;
    top: 8px;
    left: 15px;
}

nav a {
    color: white;
}

nav a:hover {
    color: rgb(186, 190, 186);
}

#logga {
    width: 85px;
    border-radius: 4px;
}

footer {
    grid-area: fo;
    background-color: rgb(14, 120, 0);
    color: white;
    padding: 10px;
}

footer a {
    color: white;
}

footer a:hover {
    color: rgb(182, 177, 177);
}

.darker {
    color: rgb(163, 216, 141);
}

.visit_img {
    width: 30px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.icons_line {
    display: flex;
    align-items: center;
}

article {
    margin-left: 10px;
}

section {
    margin-left: 10px;
}

a {
    text-decoration: none;
}

/*Här är startsidans css*/

#header_startsida {
    grid-area: h1;
    display: flex;
    padding-left: 750px;
    align-items: center;
    background-image: url("/img/broccoli_bakgrund.jpg");
    background-size: cover;
    color: whitesmoke;
    font-size: 70px;
    font-family: Garamond;
    font-style: italic;
    margin-bottom: 20px;
}

.welcome {
    grid-area: a1;
}

.recention {
    grid-area: a2;
}

.recention_bilder {
    width: 70px;
    margin-top: 15px;
}

.stor_broccoli {
    grid-area: se;
    padding-left: 100px;
    padding-top: 40px;
    background-color: white;
}

#stor_broocoli_img {
    width: 380px;
    height: auto;
}


/*Här är menyns css*/

.forratter {
    grid-area: a3;
}

.varmratter {
    grid-area: a4;
}

.side_orders {
    grid-area: a5;
}

.efterratter {
    grid-area: a6;
}

.dricka1 {
    grid-area: a7;
}

.dricka2 {
    grid-area: a8;
}


/*Här är kontaktsidans css*/

#kontakt {
    grid-area: a9;
}

.kontakt_ikon {
    width: 25px;
}

#karta {
    width: 400px;
}

#kontakt_img_container {
    grid-area: s1;
    display: flex;
    align-items: center;
}

#downing_street {
    color: black;
}

#downing_street :hover {
    color: darkgray;
}

#kontaktbild {
    height: auto;
    width: 300px;
    border-radius: 3px;
}